#!/bin/bash
set -e

# Ensure fish shell is in /etc/shells
FISH_PATH="/opt/homebrew/bin/fish"
if ! grep -Fxq "$FISH_PATH" /etc/shells; then
  echo "$FISH_PATH" | sudo tee -a /etc/shells
fi

# Change shell if needed
if [ "$SHELL" != "$FISH_PATH" ]; then
  chsh -s "$FISH_PATH"
fi
