#!/bin/bash
set -e

# Load Homebrew environment
eval "$(/opt/homebrew/bin/brew shellenv)"

# Install and upgrade packages
brew bundle --file="${HOME}/.local/share/chezmoi/Brewfile"

# Ensure fish shell is in /etc/shells
FISH_PATH="/opt/homebrew/bin/fish"
if ! grep -Fxq "$FISH_PATH" /etc/shells; then
  echo "$FISH_PATH" | sudo tee -a /etc/shells
fi

# Change shell if needed
if [ "$SHELL" != "$FISH_PATH" ]; then
  chsh -s "$FISH_PATH"
fi
