#!/bin/bash
set -e

if ! xcode-select -p &>/dev/null; then
  echo "Installing Xcode Command Line Tools..."
  xcode-select --install
  until xcode-select -p &>/dev/null; do
    echo "Waiting for Xcode Command Line Tools installation..."
    sleep 5
  done
else
  echo "Xcode Command Line Tools already installed."
fi
